*{
    transition: .3s all;
}
html{
    scroll-behavior: smooth;
}
a:hover{
    text-decoration: none;
    color: #FFD019;
}
p{
    color: #707070;
    line-height: 2em;
}
/* ==== Navigation ==== */
.navbar-brand img{
    height: 65px;
}

/* ==== Banner ==== */
.banner{
    background-image: url(images/dooted-qube.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 8%;
}
.banner .carousel-item{
    background-image: url(images/product-text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    padding-bottom: 40px;
}

.carousel-indicators li{
    background-color: #CECECE;
    border: 0;
    height: 8px;
    width: 12px;
    border-radius: 5px;
}
.carousel-indicators li.active{
    width: 40px;
    background-image: linear-gradient(to right , #FF9C35 , #FFD019);
}

/* ==== Products ==== */
#products .type-title a{
    color: #FF9D00;
    font-weight: bold;
}
#products .card{
    border: 0;
    box-shadow: 10px 0 30px #00000010;
    border-radius: 10px ;
}
#products .card-img-top {
    padding-top: 30px;
    width: 70%;
    height:auto;
    display: block;
    margin: 0 auto;
}
/* ==== categories ==== */
.categories .section-title::after{
    content: "";
    width: 120px;
    border-radius: 8px;
    height: 6px;
    display: block;
    background-image: linear-gradient(25deg , #FFD019 , #FF9C35);
    margin: 10px auto;

}
.categories a{
    color: #050505;
}


.categories .cat{
    padding: 50px;
    margin-bottom: 20px;
    box-shadow: 6px 0 40px rgba(109, 109, 109, .15);
    border-radius: 30px 0 30px 0;
}
.categories .cat.reverse-radius{
    border-radius:  0 30px 0 30px;

}
.categories .cat:hover{
    transform: translateY(-10px);
}
/* ==== footer ==== */
footer a{
    color: dimgray;
}
footer .social-medias li a{
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #000;
    text-align: center;
}
footer .contact-info img{
    margin-right: 10px;
}
img.footer-logo{
    height: 65px;
}

@media (max-width:777px){
    .banner .carousel-item{
        background: none;
    }
}